.video {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
  }

  .h1 {
    position: absolute;
    right: 40%;
    bottom: 5%;
    color:aquamarine
  }


  .loginButton {
    display: inline-block;
    background-color: #64aaf0;
    font-family: "orbitron", sans-serif;
    color: #fff;
    position: absolute;
    right: 50%;
    bottom: 60%;
    box-shadow: 5px 5px 3px 0px rgb(117, 166, 230);
    -moz-boxx-shadow: 5px 5px 3px 0px blue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  } 